* {
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
	background-image: url(./ping-pong-1280.png);
	background-position: 50% 100%;
	background-repeat:repeat;
}

#container {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 510px;
	height: 350px;
	background: radial-gradient(circle, rgb(36, 41, 36) 0%, rgba(32, 26, 30, 1) 50%);
}

canvas {
	background: radial-gradient(circle, rgb(36, 41, 36) 0%, rgba(32, 26, 30, 1) 50%);
	border: solid 5px blanchedalmond;
}
